[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = "*"
pandas = "*"
ujson = "*"
docopt = "*"
toolz = "*"
pycountry = "*"
xlrd = "*"
jupyter = "*"

[requires]
python_version = "3.7"
